<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{%static 'TecnoCoder/css/estilo1.css' %}" rel="stylesheet" />

    <title>Editar Perfil</title>
</head>
<body>


    <form class="formularioLogin" action="" method="POST"> 

        <h2>TecnoCoder</h2>
        {% if imagen == "" %}
        {% else %}
        <a class="nav-link" href="/update-user-profile/{{id}}/">
            <img alaign= "center" height="300px" width= "300px" src="{{imagen}}">
        </a>
        {% endif %}
        <h3>Editar formulario de {{usuario}}</h3>
    
        {% csrf_token %}
       

            {{miFormulario.as_table}}
    
            <button class="enviar" type="submit">Guardar</button>
            <a href="{% url 'Inicio' %}"><button class="cancelar" type="button">Cancelar</button></a>

    </form>
</body>
</html>

